img
{
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

table
{
	display: block;
	position: relative;
	left: 50%;
	border-collapse: collapse;
	
}

td
{
	border: 1px solid #CCC;
	padding: 5px;
	text-align: center;
}



table tr:nth-child(2n) {background: #CCC}
table tr:nth-child(2n+1) {background: #FFF}

table tr:first-of-type
{
	background: #333333;
	color: white;
}

@media print
{
@page {
  size: 7in 9.25in;
  margin: 27mm 16mm 27mm 16mm;
}

@page{
  @bottom-right {
    content: string(header, first); 
  }

  @bottom-left {
    content: counter(page);
  }
}



	body {
	  width: auto!important;
	  margin: auto!important;
	  font-family: serif;
	  font-size: 12pt;
	  background-color: #fff!important;
	  color: #000!important;
	}
	p, h1, h2, h3, h4, h5, h6, blockquote, ul, ol {
	  color: #000!important;
	  margin: auto!important;
	}
	.print {
	  display: block; /* affichage des éléments de classe print */
	}
	p, blockquote {
	  orphans: 3; /* pas de ligne seule en bas */
	  widows: 3; /* pas de ligne seule en haut */
	}
	blockquote, ul, ol {
	  page-break-inside: avoid; /* pas de coupure dans ces élements */
	}
	h1 {
	string-set: header content();
	  page-break-before: always; /* chaque titre commence sur une nouvelle page */
	}
	h1, h2, h3, caption {
	  page-break-after: avoid; /* pas de saut après ces éléments */
	}
	a {
	  color: #000!important;
	  text-decoration: underline!important;
	}
	a[href]:after {
	  content: " (" attr(href) ")"; /* affichage des URL des liens */
	}

	.toc a[href]:after{
	  content : "" !important;
	}

	.page-break
	{
		page-break-after: always;
	}

}
